#wrap4 { width:100%;}

#back4 { width:62px; height:34px; background:url(../img2/back.png) no-repeat; position:absolute; left:12px; bottom:10px;}



#wrap4-w { width:1000px; height:100%; margin:0 auto; position:relative;}

.w4,.w4-p { position:absolute;}

#w4-1 { top:226px; left:60px;}
#w4-2 { top:146px; left:306px;}
#w4-3 { top:226px; left:504px;}
#w4-4 { top:122px; left:688px;}
#w4-5 { top:338px; left:716px;}


#w4p1 { left:62px; top:142px;}
#w4p2 { left:504px; top:138px;}


















































































































